<div class="container">
  <div class="jumbotron">
    <h1>ZIIBD - projekt</h1>
  </div>
  <div>
  <button class="btn btn-info" [routerLink]="['departments']">Departments</button>
  <button class="btn btn-info" [routerLink]="['employees']">Employees</button>
  <button class="btn btn-info" [routerLink]="['countries']">Countries</button>
  <button class="btn btn-info" [routerLink]="['jobs']">Jobs</button>
  <button class="btn btn-info" [routerLink]="['locations']">Locations</button>
  <button class="btn btn-info" [routerLink]="['regions']">Regions</button>
  </div>
  <router-outlet></router-outlet>
</div>


