<div class="container">
  <div class="jumbotron">
    <h1>Zarządzanie informacją i bazami danych - połączenie z bazą danych Oracle</h1>
  </div>
  <div>
    <button class="btn btn-info" [routerLink]="['countries']">Countries</button>
    <button class="btn btn-info" [routerLink]="['departments']">Departments</button>
    <button class="btn btn-info" [routerLink]="['employees']">Employees</button>
    <button class="btn btn-info" [routerLink]="['job-grades']">Job grades</button>
    <button class="btn btn-info" [routerLink]="['job-history']">Job history</button>
    <button class="btn btn-info" [routerLink]="['jobs']">Jobs</button>
    <button class="btn btn-info" [routerLink]="['locations']">Locations</button>
    <button class="btn btn-info" [routerLink]="['regions']">Regions</button>

  </div>
  <router-outlet></router-outlet>
</div>


