<div class="small-container">
  <h3>Locations</h3>
  <div class="row">
    <div class="col-6" *ngFor="let location of locations ">
      <div class="card" *ngIf="location">
        <p>
          <b>ID:</b> {{location.locationID}}
        </p>
        <p>
          <b>Street address: </b> {{location.streetAddress }}
        </p>
        <p>
          <b>Postal code: </b> {{location.postalCode }}
        </p>
        <p>
          <b>City: </b> {{location.city }}
        </p>
        <p>
          <b>State province: </b> {{location.stateProvince }}
        </p>
        <p *ngIf="location.countryID">
          <b>Country name: </b> {{location.countryID.countryName }}
        </p>
        <button class="btn btn-outline-info" (click)="onDelete(location.locationID)">Delete</button>
      </div>
    </div>
  </div>
  <div class="insert">
    <h5>Insert new Location</h5>
    <form [formGroup]="locationForm" (ngSubmit)="onInsert()">
      <div class="form-group">
        <input formControlName="locationID" class="form-control" placeholder="Enter ID">
      </div>
      <div class="form-group">
        <input formControlName="streetAddress" class="form-control" placeholder="Enter street address">
      </div>
      <div class="form-group">
        <input formControlName="postalCode" class="form-control" placeholder="Enter postal code">
      </div>
      <div class="form-group">
        <input formControlName="city" class="form-control" placeholder="Enter city">
      </div>
      <div class="form-group">
        <input formControlName="stateProvince" class="form-control" placeholder="Enter state province">
      </div>
      <button type="submit" class="btn btn-outline-primary">Insert</button>
    </form>
  </div>
</div>
