/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.card {
  padding: 10px;
}
.container {
  margin: 20px;
  justify-content: center;
}

h4 {
  padding: 10px;
}

.insert {
  margin: 40px;
}

button {
  margin: 5px;
}
