/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.card {
  padding: 10px;
  font-size: 18px;
}
.small-container {
  margin: 20px;
  justify-content: center;
}

h3 {
  padding: 10px;
}

.insert {
  margin: 40px;
}

button {
  margin: 5px;
}

form {
  margin: 15px;
  padding: 20px;
  border: 1px solid #eee;
}
