<div class="small-container">
  <h3>Jobs</h3>
  <div class="row">
    <div class="col-6" *ngFor="let job of jobs ">
      <div class="card" *ngIf="job">
        <p>
          <b>ID:</b> {{job.jobID}}
        </p>
        <p>
          <b>Job title: </b> {{job.jobTitle }}
        </p>
        <p>
          <b>Min salary: </b> {{job.minSalary }}
        </p>
        <p>
          <b>Max salary: </b> {{job.maxSalary }}
        </p>
        <button class="btn btn-outline-info" (click)="onDelete(job.jobID)">Delete</button>
      </div>
    </div>
  </div>
  <div class="insert">
    <h5>Insert new Job</h5>
    <form [formGroup]="jobForm" (ngSubmit)="onInsert()">
      <div class="form-group">
        <input formControlName="jobID" class="form-control" placeholder="Enter ID">
      </div>
      <div class="form-group">
        <input formControlName="jobTitle" class="form-control" placeholder="Enter job title">
      </div>
      <div class="form-group">
        <input formControlName="minSalary" class="form-control" placeholder="Enter min salary">
      </div>
      <div class="form-group">
        <input formControlName="maxSalary" class="form-control" placeholder="Enter max salary">
      </div>
      <button type="submit" class="btn btn-outline-primary">Insert</button>
    </form>
  </div>
  <h3>Jobs with maximum salary greater than {{maxSalary}} and job title containing "{{jobTitle}}" </h3>
  <div class="row">
    <div class="col-6" *ngFor="let job of jobsWithMaxSalaryAndJobTitle ">
      <div class="card">
        <b>Id: </b> {{job.jobID }}
        <b>Job title: </b> {{job.jobTitle }}
        <b>Minimum salary: </b> {{job.minSalary }}
        <b>Maximum salary: </b> {{job.maxSalary }}
      </div>
    </div>
  </div>
</div>
